= form_for(@document) do |f|

  .field
    .form-group
      = f.file_field :file

    .form-group
      = label :time_available, 'Time Available'
      = f.select :time_available, options_for_select( [  ['10', 10], ['15', 15], ['30', 30] ] )
      %br

    .form-group
      = label :password, 'Password (optional)'
      = f.password_field :password, class: 'form_input'

      = label :confirm_password, 'Confirm Password'
      = f.password_field :password_confirmation, class: 'form_input'
      %br

  .actions
    = f.submit value: 'Upload', data: {disable_with: 'Uploading...'}, class: 'btn btn-primary'
